* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica neue';
  float: left;
  font-size: 16px;
  color: #333333;
  background: transparent url('Black_Ninja_Background.jpg') no-repeat scroll center center;
}

#wrapper {
  width: 980px;
  margin: 0 auto;
}

header {
  margin-bottom: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
  background: rgba(102, 157, 117, 0.9);
}

.flash-alert {
  padding: 10px;
  border: 1px solid #750202;
  color: #750202;
  font-size: 18px;
  background-color: #fcadad;
  font-size: bold;
}

.flash-notice {
  padding: 10px;
  border: 1px solid #017505;
  color: #017505;
  font-size: 18px;
  background-color: #b5ffb2;
  font-size: bold;
}

#left-column {
  float: left;
  width: 400px;
  padding-left: 50px;
}

#right-column {
  float: right;
  width: 400px;
}

a {
  text-decoration: none;
  color: #444444
}

#products {
  padding: 20px;
  
}

#main-content {
  background-color: white;
  padding: 20px;
  float: left;
}

ul#products {
  list-style: none;
}

ul#products li {
  margin-botom: 5px;
}

ul#products li.odd {
  background-color: #eeeeee;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgba(77,77,77,0.5);
  text-align: left;
}

footer {
  padding-top: 20px;
  padding-left: 20px;
}
